{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}
 <div class="pb-24 mt-16">
        <div class="container">

            <div class="grid grid-cols-12 gap-x-5">
                <div class="col-span-12">
                    <div id="maintab">
<div>
    <div id="login" class="custom-tab-content">
        <div class="p-8 md:p-20 shadow max-w-4xl mx-auto">
            <ul class="custom-tab-nav flex flex-wrap items-center justify-center mb-10">
                <li class="mx-2"><a class="font-semibold py-3 px-5 leading-none uppercase transition-all hover:text-orange  text-base md:text-md" href="#login">login</a> <span class="inline-block ml-2">|</span></li>
                <li class="mx-2"><a class="font-semibold py-3 px-5 leading-none uppercase transition-all hover:text-orange  text-base md:text-md" href="{% url 'signup' %}">register</a></li>
            </ul>
            <form action="" method="POST">
                {% csrf_token %}
                <input class="border border-solid border-gray-300 w-full py-1 px-5 mb-5 placeholder-current text-dark h-12 focus:outline-none text-base" type="email" name="email" placeholder="email">
                <input class="border border-solid border-gray-300 w-full py-1 px-5 mb-5 placeholder-current text-dark h-12 focus:outline-none text-base" type="password" name="password" placeholder="Password">
                <div class="button-box">
                    <div class="mb-4">
                        <input id="remember" type="checkbox">
                        <label for="remember" class="cursor-pointer">Remember me</label>
                        <span>Or</span>
                        <a href="#" class="inline-block mx-2 text-orange">Forgot Password?</a>
                    </div>
                    <button class="inline-block leading-none uppercase text-white text-sm bg-dark px-5 py-4 transition-all hover:bg-orange">
                        <span>Login</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
                    </div>
                </div>
            </div>
        </div>
 </div>
    {% include 'footer.html' %}
{% endblock %}