{% extends 'base.html' %}
{% load static %}
{% block content %}


  {% include 'navbar.html' %}

    <!-- Breadcrumb section start -->
    <div class="py-9 bg-gray-light">
        <div class="container">
            <div class="grid grid-cols-12 gap-x-4">
                <div class="col-span-12">
                    <nav>
                        <ul class="flex flex-wrap items-center justify-center">
                            <li class="mr-5"><a href="index.html" class="text-dark font-medium text-base uppercase transition-all hover:text-orange relative before:w-5 before:h-1px before:empty before:absolute before:top-3 before:bg-dark before:transform before:rotate-115 before:-right-5">Home</a></li>
                            <li class="text-dark font-medium text-base uppercase mr-5">404 Not Found </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>




    <div class="pb-24 mt-16">
        <div class="container">

            <div class="grid grid-cols-12 gap-x-5">
                <div class="col-span-12">
                    <div id="maintab">
                        <ul class="custom-tab-nav flex flex-wrap items-center justify-center mb-10">
                            <li class="mx-2"><a class="font-semibold py-3 px-5 leading-none uppercase transition-all hover:text-orange  text-base md:text-md" href="{% url 'login' %}">login</a> <span class="inline-block ml-2">|</span></li>
                            <li class="mx-2"><a class="font-semibold py-3 px-5 leading-none uppercase transition-all hover:text-orange  text-base md:text-md" href="#register">register</a></li>
                        </ul>

                        <div>
                            <div id="login" class="custom-tab-content">
                                <div class="p-8 md:p-20 shadow max-w-4xl mx-auto">
                                    <form action="" method="POST">
                                        <input class="border border-solid border-gray-300 w-full py-1 px-5 mb-5 placeholder-current text-dark h-12 focus:outline-none text-base" type="email" name="email" placeholder="email">
                                        <input class="border border-solid border-gray-300 w-full py-1 px-5 mb-5 placeholder-current text-dark h-12 focus:outline-none text-base" type="password" name="password" placeholder="Password">
                                        <div class="button-box">
                                            <div class="mb-4">
                                                <input id="remember" type="checkbox">
                                                <label for="remember" class="cursor-pointer">Remember me</label>
                                                <span>Or</span>
                                                <a href="#" class="inline-block mx-2 text-orange">Forgot Password?</a>
                                            </div>
                                            <a href="{% url 'login' %}" class="inline-block leading-none uppercase text-white text-sm bg-dark px-5 py-4 transition-all hover:bg-orange">
                                                <span>Login</span>
                                            </a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div id="register" class="custom-tab-content">
                                <div class="p-8 md:p-20 shadow max-w-4xl mx-auto">
                                    <form action="" method="POST">
                                        {% csrf_token %}
                                        <input class="border border-solid border-gray-300 w-full py-1 px-5 mb-5 placeholder-current text-dark h-12 focus:outline-none text-base" type="email" name="email" placeholder="Email">
                                        <input class="border border-solid border-gray-300 w-full py-1 px-5 mb-5 placeholder-current text-dark h-12 focus:outline-none text-base" type="password" name="password" placeholder="password">
                                        <input class="border border-solid border-gray-300 w-full py-1 px-5 mb-5 placeholder-current text-dark h-12 focus:outline-none text-base" name="password1" placeholder="Confirm pasword" type="password">
                                        <div class="button-box">
                                            <button class="inline-block leading-none uppercase text-white text-sm bg-dark px-5 py-4 transition-all hover:bg-orange">
                                                <span>Register</span>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>


        </div>

    </div>


{% include 'footer.html' %}

{% endblock %}
